body{
    background: #f08a2b;
    background: linear-gradient(180deg, rgba(240, 138, 43, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;
    background-attachment: fixed;
}
.titre{
    font-size: 50px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 128, 0);
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.image-album{
    display: block;
    margin: auto;
}

.image-sakura{
    position: absolute;
    height: 1000px;
    width: 1000px;
}

.discographie{
    color: #000000;
    text-align: center;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 128, 0);
    font-family: "Bungee", sans-serif;
}

.liste-discographie{
    color: #000000;
    margin-left: 500px;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 128, 0);
    font-family: "Bungee", sans-serif;
    list-style-position: inside;
    
}
.musique-adn{
    position: absolute;
    left: 525px;
    top: 580px;
}
.musique-silhouette{
    position: absolute;
    left: 525px;
    top: 440px;
}
.musique-mortelle{
    position: absolute;
    left: 525px;
    top: 710px;
}
.musique-meteo{
    position: absolute;
    left: 525px;
    top: 850px;
}
.musique-bizarre{
    position: absolute;
    left: 525px;
    top: 980px;
}
.musique-tete{
    position: absolute;
    left: 525px;
    top: 1115px;
}
.musique-cry{
    position: absolute;
    left: 525px;
    top: 1260px;
}
.musique-seul{
    position: absolute;
    left: 525px;
    top: 1400px;
}
